/*homepage--------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(311.76deg, #bad9ff -15.24%, #e4e9ea66 78.85%);
}

header {
    margin: 5vh 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5vh;
    gap: 32px;
}


/*********************************/

header h1 {
    font-weight: 600;
    font-size: 20px;
}

.header-texto {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: 35vw;
    color: #757575;
    font-size: 10px;
}

.t:hover {
    color: black;
    font-weight: bold;
}

.botao-login {
    border-radius: 10px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 14px;
    background: #217BF4;
    padding: 14px 35px 14px 35px;
    text-decoration: none;
    border: none;
}

.botaologin:hover {
    background: #05639e;
    text-decoration: none;
}

.imagen {
    margin-right: 50px;
}

.conteudo {
    border-top: 1px solid #217BF4;
}

.conteudo-home {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    display: flex;
    justify-content: center;
}

.main-texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
}

.tp {
    font-size: 56px;
    padding-top: 1vh;
}

.ts {
    background: #217cf422;
    width: 124px;
    padding: 10px;
    color: #217BF4;
    font-weight: 400;
    border-radius: 8px;
    font-size: 12px;
}

.p {
    color: #656464;
}

.main-botao {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    gap: 10px;
    padding-top: 430px;
    padding-right: 800px;
}

.b1 {
    width: 162px;
    height: 62px;
    left: 135px;
    top: 519px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 10px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    text-decoration: none;
    border: none;
}

.b2 {
    width: 162px;
    height: 62px;
    left: 135px;
    top: 519px;
    font-family: 'Inter';
    color: #217BF4;
    font-size: 10px;
    font-weight: bold;
    background: #f1f7ff;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    text-decoration: none;
    border: 1px solid #217BF4;
}


/* SOBRE NOS*/

.sobre-nos {
    display: flex;
    align-items: center;
    font-family: inter;
    margin: 135px;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
}

.cont1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}

.cont2 {
    width: 406px;
    height: 96px;
    left: 135px;
    top: 124.53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px;
    color: #0A093D;
}

.cont3 {
    width: 406px;
    height: 84px;
    left: 135px;
    top: 236.53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #656464;
}

.sobre-nos-lista {
    margin-top: 36px;
    width: 63px;
    height: 18px;
    left: 165px;
    top: 356.53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    color: #171648;
}

[class="sobre-nos-lista"] li {
    margin: 16px;
}

[class="sobre-nos-lista"] li {
    list-style: circle;
}

[class="sobre-nos-lista"] ul {
    list-style: none;
}

.conteudo-imagens {
    display: flex;
    align-items: center;
    gap: 25px;
}

.conteudo-imagem-2 {
    flex-direction: column;
    display: flex;
    gap: 25px;
}


/*    FOOTER      */

.cima {
    padding-top: 78px;
    padding-bottom: 85px;
    background-color: #2B2B39;
    display: flex;
    gap: 173px;
}

.textos {
    display: flex;
    gap: 98px;
    padding-left: 135px;
}

.baixo {
    display: flex;
    background-color: #20202D;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #F6F6F6;
}

.social {
    display: flex;
    margin: 36px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.0125em;
    color: #E7E7E7;
}

.text strong {
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.subscribe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    padding-right: 295px;
}

.subscribe-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E7E7E7;
}

.email-input {
    width: 280px;
    height: 48px;
    left: 966px;
    top: 244px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    background: #2B2B39;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #717179;
}

.submit-input {
    width: 126px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #2B2B39;
    border-collapse: collapse;
    position: absolute;
}

.email {
    display: flex;
    gap: 0px;
}


/****************************************************/


/*AVALIACAO*/


/****************************************************/


/*COMUNIDADES*/


/****************************************************/


/*MEMBROS*/

.valuable-Team {
    color: #217BF4;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.Our-Active-Members {
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
}

.paragraph {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 38px;
}

.newst {
    background: rgb(222, 222, 222);
    border-width: 0px;
    height: 72px;
    width: 158px;
    top: 20px;
    margin-left: 400px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}

.popular {
    background: rgb(222, 222, 222);
    border-width: 0px;
    height: 72px;
    width: 158px;
    margin-left: -5px;
    top: 0px;
}

.backs {
    position: relative;
    background: rgb(222, 222, 222);
    border-width: 0px;
    height: 72px;
    width: 158px;
    margin-left: 715px;
    margin-top: -72px;
    border-width: 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.active {
    background: #217BF4;
    color: aliceblue;
    box-shadow: 2px 2px 6px;
    border-width: 0px;
    height: 56px;
    width: 150px;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 14px;
}

.f-back {
    background-color: #f8f8f8;
    border-radius: 14px;
    width: 270px;
    height: 316px;
}

.f-ring {
    background-image: url(ring.png);
    width: 170px;
    height: 166px;
}

.fa-check {
    margin-left: 6px;
    margin-top: 8px;
}

.f-check {
    background-color: #217BF4;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.f-circle {
    background-color: #adacd7;
    width: 142px;
    height: 142px;
    border-radius: 100px;
}

p {
    margin-left: 40px;
}

.fahim {
    margin-top: 35px;
    font-style: normal;
    width: 171px;
    height: 26px;
}

.k-back {
    background-color: #f8f8f8;
    border-radius: 14px;
    width: 270px;
    height: 316px;
}

.k-ring {
    background-image: url(ring.png);
    width: 170px;
    height: 166px;
}

.ka-check {
    margin-left: 6px;
    margin-top: 8px;
}

.k-check {
    background-color: #217BF4;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.k-circle {
    background-color: #adacd7;
    width: 142px;
    height: 142px;
    border-radius: 100px;
}

.kazi {
    margin-top: 35px;
}

.m-back {
    background-color: #f8f8f8;
    border-radius: 14px;
    width: 270px;
    height: 316px;
}

.m-ring {
    background-image: url(ring.png);
    width: 170px;
    height: 166px;
}

.ma-check {
    margin-left: 6px;
    margin-top: 8px;
}

.m-check {
    background-color: #217BF4;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.m-circle {
    background-color: #adacd7;
    width: 142px;
    height: 142px;
    border-radius: 100px;
}

.a-back {
    background-color: #f8f8f8;
    border-radius: 14px;
    width: 270px;
    height: 316px;
}

.a-ring {
    background-image: url(ring.png);
    width: 170px;
    height: 166px;
}

.aa-check {
    margin-left: 6px;
    margin-top: 8px;
}

.a-check {
    background-color: #217BF4;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.a-circle {
    background-color: #adacd7;
    width: 142px;
    height: 142px;
    border-radius: 100px;
}

.alia {
    margin-top: 35px;
}

.members-id {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}